.products_box {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: 30px 0;
    .box {
        width: calc(100% / 4);
        padding: 10px 0;
    }
}

.product {
    width: 90%;
    flex-direction: column;
    box-shadow: $shadow;
    background: #fff;
    img {
        width: 90%;
        height: auto;
    }
    .name{
        margin-top: 10px;
        font-size: 20px;
        color: $c-span-black;
    }
    .price{
        margin-top: 15px;
        font-size: 24px;
        color: $c-span-black;
    }
    .button {
        margin: 20px 0;
        width: 90%;
    }
}

.paginate {
    margin: 20px 0;
    span {
        font-size: 14px;
    }
    .key {
        transition: ease 0.4s;
        width: 100px;
        height: 40px;
        background: $bg-key;
        border: solid 1px $c-key-border;
        cursor: pointer;
    }
    .key:hover {
        background: $bg-key-hover;
    }
    .key:active {
        background: $bg-key-active;
    }
    .prev{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: none;
    }
    .next{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: none;
    }
    .key > span {
        color: $c-span-black;
    }
    .disable, .disable:hover, .disable:active{
        background: $bg-key-disable;
        cursor: default;
    }
    .disable > span {
        color: $c-span-black-disable;
    }
    .box{
        cursor: default;
        width: 150px;
        height: 40px;
        background: $bg-key;
        border: solid 1px $c-key-border;
        span {
            color: $c-span-black;
        }
    }
    .margin {
        margin: 320px 0;
    }
}
