<template>
    <div class="content aliginer flex_center column">
        <template v-if="basket.count <= 0">
            <span>Нет товаров в корзине</span>
        </template>
        <template v-else>
            <div class="basket_box flex column">
                <div class="box flex_sp_ard" v-for="product in basket.products" :key="product.id">
                    <img :src="'/img/jpg/' + product.img" alt="">
                    <span class="name">Наименование: {{product.name}}</span>
                    <span class="price">Цена: {{product.price}}</span>
                    <span class="count">Кол-во: {{product.count}}</span>
                    <div class="button" @click=removeToBacket(product.id)>
                        <span>Удалить</span>
                    </div>
                </div>
                <div class="box flex_sp_ard">
                    <b>Итого: {{basket.total}}</b>
                </div>
            </div>
            <div class="button" @click=sendMessage(0)>
                <span>Заказать</span>
            </div>
        </template>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default
{
    name: "BacketView",
    computed: mapGetters(["basket"]),
    methods:
    {
        removeToBacket(id)
        {
            this.$store.dispatch('removeToBasket', id)
        },
        sendMessage(id){
            this.$store.dispatch('sendMessage', id)
        }
    },
    mounted()
    {
    }
}
</script>
