<template>
    <div class="content aliginer flex_sp_bet column">
        <template v-if="products.loader">
            <div class="loader"><div></div></div>
        </template>
        <template v-else>
            <div class="products_box flex_sp_bet emergence">
                <div class="box flex_center" v-for="product in products.data" :key="product.id">
                    <div class="product flex">
                        <img :src="'/img/jpg/' + product.img" alt="">
                        <span class="name">{{product.name}}</span>
                        <span class="price">Цена: {{product.price}}</span>
                        <div class="button" @click=addToBacket(product)>
                            <span>В корзину</span>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default
{
    name: "CatalogView",
    computed: mapGetters(["products"]),
    methods:
    {
        requestProducts()
        {
            this.$store.dispatch('requestProducts')
        },
        addToBacket(product){
            this.$store.dispatch('sortBacket', product)
        }
    },
    mounted()
    {
        this.requestProducts()
    }
}
</script>
