.footer {
    background: $bg-footer;
    height: $hei-footer;
}
.footer > div {
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    span {
        color: $c-span-white;
        margin-bottom: 15px;
    }
}