//Для вычислений с разными типами значений
:root {
    --hei-header: 100px;
    --hei-footer: 100px;
    --hei-min: calc(100% - var(--hei-footer) - var(--hei-header));
}

//Backgrounds
$bg-body: #f8fafc;
$bg-header: #52555F;
$bg-footer: #3A3C43;
$bg-button: #52555F;
$bg-button-hover: #A8AAAF;
$bg-button-active: #888;
$bg-key: #ddd;
$bg-key-disable: #eee;
$bg-key-hover: #aaa;
$bg-key-active: #999;

$c-logo: #E6F0F0;
$c-span-white: #E6F0F0;
$c-span-black: #222;
$c-span-black-disable: #888;
$c-link: #F0FAFA;
$c-link-active: #B1BFE7;
$c-link-hover: #B8D2D2;
$c-link-active-hover: #8EABFF;
$c-loader: #52555F;
$c-loader-border: #A8AAAF;

$c-key-border: #999;

//Размер шрифта ссылок
$s-link: 18px;

$hei-header: var(--hei-header);
$hei-footer: var(--hei-footer);
$hei-min: var(--hei-min);

$max-width: 1200px;

$shadow:
    4px 4px 6px rgba(0,0,0,0.1),
    -4px -4px 6px rgba(0,0,0,0.1);
