@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');
@import 'variables';
@import 'header/style.scss';
@import 'footer/style.scss';
@import 'catalog/style.scss';
@import 'basket/style.scss';

a, p, span {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    background: $bg-body;
}
body > div {
    height: 100%;
}
#app {
    width: 100%;
    height: 100%;
    max-width: $max-width;
    margin: 0 auto;
}
.aliginer {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}
.flex {
    display: flex;
    align-items: center;
}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_sp_bet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex_sp_ard {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.link, .active_link {
    font-size: $s-link;
    transition: ease 0.4s;
}
.link {
    color: $c-link;
}
.active_link {
    color: $c-link-active;
}
.link:hover {
    color: $c-link-hover;
}
.active_link:hover {
    color: $c-link-active-hover;
}

.content {
    min-height: var(--hei-min);
}
.loader {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: content-emergence 0.4s ease;
    div {
        width: 36px;
        height: 36px;
        border: 6px solid $c-loader-border;
        border-top-color: $c-loader;
        border-radius: 50%;
        position: relative;
        animation: loader-rotate 1s linear infinite;
        top: 50%;
        margin: -18px auto 0 auto;
    }
}
.button {
    cursor: pointer;
    transition: ease 0.4s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg-button;
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    height: 40px;
    span{
        transition: ease 0.4s;
        font-size: 16px;
        color: $c-span-white;
    }
}
.button:hover  {
    background: $bg-button-hover;
    span{
        color: $c-span-black;
    }
}
.button:active {
    background: $bg-button-active;
}

.column {
    flex-direction: column;
}
.emergence{
    animation: content-emergence 1s ease;
}

@keyframes loader-rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes content-emergence {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}