
.basket_box {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    .box{
        width: 100%;
        height: 120px;
        box-shadow: $shadow;
        margin: 10px 0;
        background: #fff;
        img {
            width: 100px;
            height: 100px;
        }
        .name, .price, .count {
            font-size: 14px;
        }
        .button {
            width: 120px;
        }
    }
}