<template>
    <div class="footer">
        <div class="aliginer flex">
            <span>Магазин SPA</span>
        </div>
    </div>
</template>


<script>
export default
{
    name: "FooterComponent"
}
</script>