<template>
<div class="header">
    <div class="aliginer">
        <div class="flex_sp_bet">
            <div class="header_link flex">
                <span>Магазин SPA</span>
                <router-link to="/" exact class="link">Главная</router-link>
                <router-link to="catalog" exact class="link">Каталог</router-link>
            </div>
            <div>
                <router-link to="sopping-cart" exact class="link">
                    <span v-if="basket.count <= 0">Корзина</span>
                    <span v-else>Корзина ({{basket.count}})</span>
                </router-link>
            </div>
        </div>
    </div>
</div>
</template>


<script>
import {mapGetters} from 'vuex'
export default
{
    name: "HeaderComponent",
    computed: mapGetters(["basket"])
}
</script>