<template>
    <div>
        <HeaderComponent />
        <router-view />
        <FooterComponent />
    </div>
</template>

<script>
import HeaderComponent from './HeaderComponent'
import FooterComponent from './FooterComponent'
export default
{
    name: "MainComponent",
    components:
        {
            HeaderComponent,
            FooterComponent
        }
}
</script>