.header {
    width: 100%;
    height: $hei-header;
    background: $bg-header;
}
.header > div, .header > div > div, .header_link {
    height: 100%;
}
.header_link > span {
    color: $c-logo;
    font-weight: 800;
    font-size: 28px;
    margin-right: 30px;
}
.header_link > a:last-child {
    margin-left: 10px;
}